// Gradients

.bg-first-page {
  background-image: linear-gradient(to right, var(--secondary) 0%, #c467ed 100%) !important;
}

.bg-alternate {
  background-color: var(--secondary) !important;
}

.bg-transparent {
  background: transparent !important;
}
